<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woodblockwithoutco.appsalvager">

    <application>

        <activity
            android:name=".internal.SalvageActivity"
            android:process=":salvage"/>

    </application>

</manifest>